@use '../abstracts/variables';


$size-300: 0.75rem;
$size-400: 1rem;
$size-500: 1.5rem;
$size-600: 1.75rem;
$size-700: 3rem;
$br-400: 0.5rem;
$br-300: 0.375rem;


.parameters{
  text-align: center;
}


.primary-media-list{



  display: grid;
  gap: $size-400;

  img{
    width: 100%;
    border-radius: $br-400;

  }

  @media (min-width: 40em){
    &{
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }

  }
}

.firs-place-media{
  display: grid;

}

.media-desc-primary{
  display: grid;
  gap: $size-400;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;

}
.media-desc-primary__place{
  color: variables.$clr-primary-400;
}



.featured-media{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $size-400;

  li{
    display: flex;
    gap: $size-300;
    align-items: center;

    img{
      //flex-basis: 30%;
      width: 6rem;
      ;
    }
    .media-desc{
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
}

.featured-media .media-desc__place{
  color: variables.$clr-primary-400;
}

//the whole list

.accent-media-section{
  background-color: #121212;
  border-top: 2px solid variables.$clr-primary-500;
  border-bottom: 2px solid variables.$clr-primary-500;
  margin-top: $size-700;
  padding: $size-700 0;

}
.accent-media-list{

  display: grid;
  gap: $size-300;

  li{
    display: flex;
    gap: $size-300;
    align-items: center;
    border-radius: $br-300;
    transition: background-color 0.1s linear, border 0.1s linear, color 0.1s linear;


    img{
      width: 3.5rem;
      height: 3.5rem;
      object-fit: cover;
      border-radius: $br-300;
    }
    .media-desc__name{
      display: block;
      color: white;
      text-decoration: none;
      &:hover{
        text-decoration: underline;

      }


    }


    &:hover{
      background-color: variables.$clr-bg-accent-dark;
      color: white;
    }
  }

}

.media-desc__author{
  display: block;
  text-decoration: none;
  color: lightgray;
  &:hover{
    color: white;
    text-decoration: underline;
  }
}

.accent-media-list .media-desc__place{
  //color: variables.$clr-accent-400;
}


.media-desc__author, .media-desc-primary__author{
  //color: lightgray;
}

