@use '../abstracts/variables';


.btn {
  background-color: mediumvioletred;
  padding: 0.375em 2.125em;
  border-radius: 100vw;
  border: 2px solid mediumvioletred;
  transition: background-color 0.1s linear, border 0.1s linear;
  outline: none;

&:hover, &:focus{
  background-color: mediumpurple;
  border: 2px solid black;
  outline: none;


}
}

.select-container{
  display: inline;
  position: relative;
  margin: 0 1rem;


  .btn-select{
    padding: 0.375em 1.375em;
    background-color: variables.$clr-accent-300;
    border-radius: .5rem;
    border: none;
    //color: white;
  }

  .select-options{
    position: absolute;
    top: 115%;
    right: 50%;
    transform: translateX(50%) scale(.75);
    display: grid;
    padding: 1rem 0;
    background-color: variables.$clr-primary-300;
    width: 12rem;
    margin: 1rem 0;
    //border: 1px solid variables.$clr-primary-500;
    border: none;
    border-radius: 6px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / .25), 0 8px 10px -6px rgb(0 0 0 / .25);
    transition: transform .1s cubic-bezier(.785, .135, .15, .86), opacity .05s cubic-bezier(.86, 0, .07, 1);

    opacity: 0;
    pointer-events: none;

    p{
      transition: background-color .15s, color .1s;
      padding: 0.375rem 0;
      cursor: pointer;
      color: black;

      &:hover, &:focus, &:focus-within{
        background-color: variables.$clr-primary-400;
        color: black;
      }
    }

  }

  .open{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateX(50%);
    transition: transform .1s cubic-bezier(.785, .135, .15, .86), opacity .05s cubic-bezier(.86, 0, .07, 1);

  }
}


