
$clr-primary-600: #F97315;
$clr-primary-500: #FDBA74;
$clr-primary-400: #FFF7ED;
$clr-accent-400: #5D5B5B;
$clr-accent-300: #D4D4D8;

$clr-bg-primary-light: #FFF7ED;
$clr-font-primary-light: #18181B;
$border-light: 1px solid rgb(203 213 225 );

$clr-bg-primary-dark: #18181B;
$clr-bg-accent-dark: #27272A;

$clr-font-primary-dark: rgb(255, 255, 255, 0.9);
$border-dark: 1px solid rgb(63 63 70 );




$global-max-width: 48rem;
$global-padding: 1rem;

$img-border-radius: 1.25rem;
