

$clr-primary-300: hsl(260, 25%, 80%);
$clr-primary-400: hsl(260, 25%, 60%);
$clr-primary-500: hsl(260, 25%, 40%);
$clr-accent-300: hsl(225, 44%, 80%);
$clr-accent-400: hsl(225, 44%, 32%);
$clr-accent-500: hsl(225, 44%, 25%);





$clr-bg-primary-light: #FFF7ED;
$clr-font-primary-light: #18181B;
$border-light: 1px solid rgb(203 213 225 );

$clr-bg-primary-dark: #18181B;
$clr-bg-accent-dark: #27272A;

$clr-font-primary-dark: rgb(255, 255, 255, 0.9);
$border-dark: 1px solid rgb(63 63 70 );




$global-max-width: 48rem;
$global-padding: 1rem;

$img-border-radius: 1.25rem;
