@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*, ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: colors.$bg;
  color: colors.$font;
  font-family: 'Lato', sans-serif;
}

img{
  width: 100%;
}

.main{
  //max-width: 40rem;
  margin-inline: auto;
}

.container{
  padding: 1.5rem 1rem;
}

.page-header{
  font-weight: 800;
  font-size: clamp(2.5rem, 12.5vw, 5rem);

  span{
    color: colors.$main;
  }

  div{
    //background-color: colors.$main-dark;
    //display: inline;
    //border-radius: 0.75rem;

    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: colors.$main-dark;
    text-underline-offset: 8px;
    //text-decoration-thickness: ;
    //text-underline-mode: ;
    //text-decoration-line: underline;
  }
}

.btn{
  background-color: colors.$main-dark;
  border: none;
  outline: none;
  color: colors.$font;

  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: lowercase;


  padding: 18px 5rem 16px;
  border-radius: 500px;

  &:hover, &:focus{
    background-color: colors.$main;
    outline: none;
  }

  &:focus{
    outline: 2px solid colors.$font;
  }

}

// login page

.header-container{
  margin-inline: -1rem;
  margin-top: -1.5rem;
  padding-inline: 1rem;

  //background-image: url(public/images/img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.login{
  min-height: min(100vh, 50rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .page-header{
    margin-block: 1.5rem;
  }
}




.auth{
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: auto;
  //margin-inline: 1rem;
  //margin-inline: auto;
}


.add-info{
  list-style: none;
  //list-style-position: outside;

  //padding-left: 1.25rem;

  font-size: 1.5rem;
  font-weight: 600;

  margin-bottom: 1rem;

  li + li{
    margin-top: 1.25rem;
  }
}


//footer

footer{
  background-color: #222326;
  padding: 1.5rem 1rem;
}

.social{
  padding-bottom: 1rem;
}

.social h3{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.social p{
  font-size: 1.25rem;
  font-weight: 300;
}

.social p + p{
  margin-top: 1rem;
}

.copyright{
  background-color: #121212;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  margin-inline: -1rem;
  margin-bottom: -1.5rem;
  color: #B2B2B2;

  p{

    text-align: right;
  }
}










